#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.app-wrapper{
  position: relative;
  z-index: 1;
}

.app-wrapper::before{
  content: '';
  position: fixed;
  background-color: rgba( 0, 0, 0, 0.4);
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}